<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='subpages.css') }}" type = "text/css">
    <title>Sucess</title>
</head>
<body>
    <form action="/add">
        <h2 id="form_title">Sucesso!</h2>
        <p>O novo Cliente foi adicionado com sucesso<p>
        <button id="return_button" type="submit">Voltar para a página de cadastro.</button>
    </form>
</body>
</html>